
.icon-xbox:before { content: '\e700'; } /* '' */
.icon-ps4:before { content: '\e701'; } /* '' */
.icon-jewelry:before { content: '\e702'; } /* '' */
.icon-pool-table:before { content: '\e703'; } /* '' */
.icon-computer:before { content: '\e704'; } /* '' */
.icon-foosball:before { content: '\e705'; } /* '' */
.icon-table:before { content: '\e707'; } /* '' */
.icon-ps50:before { content: '\e710'; } /* '' */
